.containerSqlBox {
  margin-top: 16px;
  padding: 16px;
  border-radius: 8px;
  background-color: #f3f4f6;
  border: 1px solid #d1d5db;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-weight: bold;
  margin-bottom: 4px;
}

.actions {
  display: flex;
  gap: 4px;
}

.sqlCode {
  background-color: #0f1829;
  padding: 12px;
  border-radius: 6px;
  margin-top: 12px;
  overflow-x: auto;
  font-size: 14px;
  white-space: pre-wrap;
}


