.container {
  height: 100vh;
  display: flex;
  align-content: center;
  background-color: #f4f3ed;
  padding: 2rem;
  overflow: auto;
}

.card {
  margin: auto;
  max-width: 400px;
  width: 100%;
  border-radius: 16px;
  text-align: center;
}

.logo {
  width:auto;
  height: 73px;
}

.title {
  font-family: var(--font-poppins);
  font-weight: 600;
  color: #3e3e3e;
}

.subtitle {
  font-weight: normal;
}

.input {
  margin-bottom: 1rem;
  font-family: var(--font-poppins);
}

.button {
  background-color: #cc8450;
  font-family: var(--font-poppins);
  color: white;
  text-transform: none;
  font-weight: 600;
  border-radius: 7.5px;
  margin-top: 0.5rem;
  padding: 0.75rem;
}

.forgot {
  margin-top: 0.75rem;
  color: #cc8450;
  font-family: var(--font-poppins);
  font-size: 0.85rem;
  cursor: pointer;
  text-decoration: underline;
}

.divider {
  margin: 1.5rem 0;
  border-top: 1px solid #e0e0e0;
}

.accountTitle {
  font-family: var(--font-poppins);
  font-weight: 500;
  font-size: 0.95rem;
  color: #3d3d3d;
}

.accountSubtitle {
  font-size: 0.85rem;
  font-family: var(--font-poppins);
  margin-bottom: 1rem;
  color: #6b6b6b;
}

.outlined {
  border-color: #cc8450;
  color: #cc8450;
  font-family: var(--font-poppins);
  font-weight: 600;
  text-transform: none;
  border-radius: 12px;
  padding: 0.75rem;
}