name: Build & Deploy em Homologa칞칚o

on:
  push:
    branches:
      - 'staging'
      - 'bugfix/**'

env:
  DOCKER_REGISTRY: ghcr.io/maloka-ai
  PROJECT_NAME: web-main

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout do reposit칩rio
        uses: actions/checkout@v4

      - name: Definir tag staging (data+hora+hash)
        id: version
        run: |
            SHORT_SHA=$(echo "${GITHUB_SHA}" | cut -c1-7)
            DATE=$(TZ=America/Manaus date +"%d%m%Y-%H%M")
            STAGING_TAG="staging-${SHORT_SHA}-${DATE}"
            echo "STAGING_TAG=$STAGING_TAG" >> $GITHUB_ENV
            echo "staging_tag=$STAGING_TAG" >> $GITHUB_OUTPUT

      - name: Login no Docker GHCR
        uses: docker/login-action@v2
        with:
          registry: ${{ env.DOCKER_REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GHCR_TOKEN }}

      - name: Build e Push da imagem Docker Next.js (.env.test)
        run: |
          IMAGE="${{ env.DOCKER_REGISTRY }}/${{ env.PROJECT_NAME }}:$STAGING_TAG"
          echo "Building image $IMAGE"
          docker build --build-arg ENV_FILE=.env.test --no-cache -t $IMAGE .
          docker push $IMAGE

      - name: Clonar reposit칩rio de manifests
        uses: actions/checkout@v4
        with:
          repository: maloka-ai/gitops
          token: ${{ secrets.GHCR_TOKEN }}
          path: manifests

      - name: Atualizar tag da imagem no deploy.yaml de homologa칞칚o
        run: |
            cd manifests
            sed -i "s|^\(\s*image:\s*ghcr.io/maloka-ai/web-main:\).*|\1$STAGING_TAG|" web-main/homolog/deploy.yaml
            git config user.name "GitHub Actions"
            git config user.email "actions@github.com"
            git add web-main/homolog/deploy.yaml
            if ! git diff --cached --quiet; then
            git commit -m "Atualiza web-main para $STAGING_TAG em homologa칞칚o"
            git push
            else
            echo "Nenhuma altera칞칚o para commit/push."
            fi
        if: success()

      - name: Notificar no Discord de Implanta칞칚o em Homologa칞칚o
        env:
            DISCORD_WEBHOOK_URL: ${{ secrets.DISCORD_WEBHOOK_URL }}
            GITHUB_ACTOR: ${{ github.actor }}
            STAGING_TAG: ${{ env.STAGING_TAG }}
        run: |
            COMMIT_HASH="${GITHUB_SHA::7}"
            COMMIT_MESSAGE=$(git log -1 --pretty=format:"%s")
            DATE_MSG=$(TZ=America/Manaus date +"%d/%m/%Y %H:%M")
            
            MSG="游 *Deploy Homologa칞칚o*:\n\
            - 游닍 **Aplica칞칚o:** WEB-MAIN \n\
            - 游닍 **Imagem:** \`${{ env.DOCKER_REGISTRY }}/${{ env.PROJECT_NAME }}:${STAGING_TAG}\`\n\
            - 游닇 **Commit:** [${COMMIT_HASH}](https://github.com/${{ github.repository }}/commit/${GITHUB_SHA}) - ${COMMIT_MESSAGE}\n\
            - 游녻 **Autor:** ${{ github.actor }}\n\
            - 游뎹 **Hor치rio:** ${DATE_MSG}"
            
            curl -H "Content-Type: application/json" -X POST -d "{\"content\": \"$MSG\"}" "$DISCORD_WEBHOOK_URL"

  auto-merge-main:
    needs: build-and-push
    runs-on: ubuntu-latest
    if: startsWith(github.ref, 'refs/heads/bugfix/')
    steps:
      - name: Checar reposit칩rio
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.GHCR_TOKEN }}

      - name: Mesclar bugfix em main
        run: |
          git fetch origin main
          git checkout main
          git pull origin main
          git merge --no-ff $GITHUB_REF_NAME -m "Merge autom치tico de bugfix $GITHUB_REF_NAME em main"
          git push origin main